# MongoDB Connection (Local or Atlas URI)
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=we

# Redis Connection (Local or Cloud/Upstash URI)
REDIS_URL=redis://localhost:6379/0

# JWT Auth Secret
JWT_SECRET=super-secret-jwt-key-change-in-production
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Service Ports
GATEWAY_PORT=8000
AUTH_SERVICE_PORT=8001
POST_SERVICE_PORT=8002
NOTIFICATION_SERVICE_PORT=8003
